performance-tests/src/test/resources/sync-file-write-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>

    <flow name="test" initialState="stopped">
        <vm:inbound-endpoint path="testIn" exchange-pattern="one-way"/>

        <file:outbound-endpoint path="/tmp/testOut"  outputPattern="zaraza#[header:inbound:key].txt"/>

        <component class="org.mule.performance.AbstractFileWriteLoadTestCase$TestCounter"/>
    </flow>

</mule>