mule-module-async-example/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:async="http://www.mulesoft.org/schema/mule/async"
      xmlns:netty="http://www.mulesoft.org/schema/mule/async-netty"
      xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/async http://www.mulesoft.org/schema/mule/async/current/mule-async.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/async-netty http://www.mulesoft.org/schema/mule/async-netty/current/mule-async-netty.xsd
        http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/current/mule-pattern.xsd">

    <async:flow name="test">
        <netty:netty-source host="localhost" port="1234"/>

        <netty:netty-client baseUrl="http://www.google.com.ar/" uri="#[payload]"/>

    </async:flow>



    <flow name="proxyFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7070" />
        <http:outbound-endpoint exchange-pattern="request-response" address="http://www.google.com.ar/" path="/#[payload]" method="GET" />
        <http:response-builder status="200"  contentType="#[flowVars['Content-Type']]"/>
    </flow>

    <pattern:http-proxy name="direct-http-proxy"
                        inboundAddress="http://localhost:7575" outboundAddress="http://www.google.com.ar/" />

</mule>